extends layout

block content
    container
        .row
            .col-md-5.col-sm-4
                img.img-fluid(src= url_img, alt='')
            .col-md-5.col-sm-4
                img.img-fluid(src= new_img, alt='')
            .col-md-2.col-sm-4
                each face in faces
                    .alert.alert-success(role='alert')
                        h4.alert-heading Info!
                        p Gender: #{face.attributes.gender.value} - Age: #{face.attributes.age.value} 
                        p Emotion:
                            ul 
                                li sadness: #{face.attributes.emotion.sadness} 
                                li neutral: #{face.attributes.emotion.neutral} 
                                li disgust: #{face.attributes.emotion.disgust} 
                                li anger: #{face.attributes.emotion.anger}  
                                li surprise: #{face.attributes.emotion.surprise}  
                                li fear: #{face.attributes.emotion.fear}  
                                li happiness: #{face.attributes.emotion.happiness}  
                        p Skinstatus: 
                            ul 
                                li dark_circle: #{face.attributes.skinstatus.dark_circle} 
                                li stain: #{face.attributes.skinstatus.stain} 
                                li acne: #{face.attributes.skinstatus.acne} 
                                li health: #{face.attributes.skinstatus.health}  
        
        
